[2016-04-23 01:35] micovery commented on #238
@sam-at-github, thanks for the clarification ...

So if the presence of the `default` value implies nothing for validation purposes ...

Then, what is the use-case of specifying a `default` value for a field that is also marked as required?

Am I alone in thinking that its contradictory?

[2016-04-23 01:40] sam-at-github commented on #238
Supposing you validator does in fact interpret and use `default` this way (and its not just used as an informative hint to the front end UI), there isn't one. But as I said, so what.

These two concepts are provided to you as is. Simple. There is a combination of the two in there that does not make much sense. It's obvious. The alternative is the over specify like XSD.

[2016-04-23 02:24] YurySk commented on #238
default maybe useful for the process that forms the data when the property has not been specified. For instance a blank form may be generically prefilled with default values. That has no bearing on whether the property is required or not.
You might argue that this is an application specific thing that can be expressed in a non-schema property since it has no bearing on validation, but given that d

[2016-04-23 04:56] robbie-mac commented on #237
@mwherman2000
Close, but not quite. You are mixing schema and data.
Take your first line as an example:
""sql_bigint : { type : "number", sql_typeid : 0, base64encoded : false },""

[2016-04-23 11:26] mwherman2000 commented on #237
@robbie-mac, in SQL Server, each SQL Server data type also has a documented unique numerical "ID" ...this is what I'm storing in the "sql_typeid" property of the schema. ...it's like a numerical alias for the "sql_xxxx" name.

p.s. I've updated my previous sample with proper quoting.

[2016-04-23 12:21] mwherman2000 opened #239 "Embedding JSON-Schema objects as a child object breaks $ref locations"
Checkout this example: [JSON-Schema sample for SQL Server](https://hyperonomy.files.wordpress.com/2016/04/sql-json-sample.png)

I started using the following business-as-usual format for the $ref location in my JSON-Schema:

"DeviceNumber": { "$ref": "#/definitions/sql_uniqueidentifier" },

But I then need to embed the schema object as a child object inside a parent JSON object.  This broke the $r

[2016-04-23 19:25] redben opened #240 "Additionalproperties considers properties and patternProperties but not "required""
Say you have an API for creating and updating profiles, both operations require different subsets of properties :
- on create json must only contain `email` and `name` (`id` is generated),
- on update json must only contain `id` and `email` (`name` is read only)

If additionalProperties considered `require`, it would make the schema this simple :

[code]

Any thoughts ?

[2016-04-23 19:31] YurySk commented on #240
I don't think V4 allows ref to be empty fragment. Not sure what '#/' means in terms of URI, but suspect it's the same as # I.e. a uri with an empty fragment

[2016-04-23 20:48] JanTvrdik commented on #240
See https://tools.ietf.org/html/rfc6901#section-6, `#` is reference to the whole document, `#/` is reference to key `""` (empty string). Unfortunately not all libraries implement this correctly.

[2016-04-23 21:02] YurySk commented on #240
Thanks, I need to make sure I interpret it correctly.

[2016-04-23 21:10] jdesrosiers commented on #240
That's an interesting thought.  In a sense, `required` implies the definition of those properties.  You could say that if a required property is not defined, it is equivalent to a defined property with an empty schema.  That isn't the way `required` is currently defined, but it wouldn't be an illogical change in a future draft.

Getting slightly off topic ...
You wouldn't have this problem if you

[2016-04-23 23:27] Ixrec commented on #240
@jdesrosiers To continue being off-topic, a few months ago we discovered we had a very large number of outdated models in our database (as in, so outdated our app would crash if it tried to load them) all because `additionalProperties: false` caused validation failures on one of those old schemas with long-deprecated properties. As scary as the discovery was, not finding it would've been far worse

[2016-04-24 02:02] jdesrosiers commented on #240
@Ixrec You might have a case where you can answer "yes" to the questions I posed.  But I don't think that is the general case.  I have seen a few cases where `additionalProperties` was necessary to express a structure, but that is only in rare and complex cases.  However, the people seem to default to using it when it is unnecessary.  To make an analogy to OO, it's like closing a class to extensio

[2016-04-24 15:12] redben commented on #240
*Moving additionalProperties to the root...*
moving additionalProperties to the root schema wouldn't help since a document witj `{"id","name","email"}` would still validate with post or put

*Doing without additionalProperties*
You are right more often than not you can do with out it, some frameworks default to what could be mapped to additionalProperties=false (Jackson (java) for example defaults

[2016-04-24 15:36] redben commented on #240
Forgot to mention a workaround (as long as you don't have reasonably few properties)
One can add patternProperties like this:

[code]

[2016-04-25 03:24] jdesrosiers commented on #240
*Moving `additionalProperties` to the root*
Oops, I missed the part where "name" is supposed to be read-only.  In that case, there is the `readOnly` property, but only if you are using Hyper-Schema.

*Doing without `additionalProperties`*
Ok, I agree that in the situation you describe, `additionalProperties` would have helped.  But, you have to admit its pretty convoluted.  The developer would hav

[2016-04-26 05:43] robbie-mac commented on #237
@mwherman2000
If I was to deal with this problem myself, I would have 2 data files and at least 2 schema. 1 data file is the list of SQL types, and can be validated by an SQLTypes schema. Then I would have my actual data, that validates against another schema.
That way if your use/understanding/or the SQL version introduces another type or deprecates a type, then I would only have to update 1 file

[2016-04-28 04:03] cbandy commented on #239
https://tools.ietf.org/html/rfc6901#section-4

   Evaluation of a JSON Pointer begins with a reference to the root
   value of a JSON document and completes with a reference to some value
   within the document.
[code]

[2016-04-28 04:42] robbie-mac commented on #239
@mwherman2000
Michael, this may seem belittling but you may want to read the guide at the following link:
[http://spacetelescope.github.io/understanding-json-schema/](url)
From your other comments, and from the example image you posted in this comment, leads me to believe the guide may be your best resource for a while.

You have several out of place key/value pairs:
You keep putting instance valu

[2016-04-30 11:25] mwherman2000 commented on #237
This can be closed.  As a final foot note, checkout the the following tech note.  This gives you an idea of where I am headed: [https://hyperonomy.com/2016/04/26/parallelspace-team-iot-json-message-formats/](https://hyperonomy.com/2016/04/26/parallelspace-team-iot-json-message-formats/)

Michael Herman (Toronto)

p.s. I think there is an outstanding issue of how to transport/embed a JSON-Schema in

[2016-05-02 20:16] jdh6660 opened #241 "Pattern Properties, AnyOf, and Ref"
Why can't I do this? Is there a specific way to use anyOf?

`"patternProperties": {
    "^[A-Z]$": {
        "anyOf": [
	    {"&ref": "#/definitions/StringType"},
	    {"&ref": "#/definitions/NumberType"}
    ]
   }
 }`

[2016-05-02 20:21] JanTvrdik commented on #241
Replace `&ref` with `$ref`

[2016-05-03 17:22] richseviora opened #242 "json-schema.org is not available"
The branch reference `gh-pages` seems to have disappeared.

[2016-05-03 17:40] Julian commented on #242
There appears to have been some configuration missing here from @Acubed / @Relequestual? Not quite sure what step is missing, but I was trying to ping them -- I'll re-push a version of the branch to get the site back up, sec.

[2016-05-03 17:48] Julian commented on #242
I've just re-pushed the branch, so should come back momentarily.

[2016-05-03 18:05] Julian commented on #242
OK, it's back, sorry for the trouble here.

[2016-05-03 18:05] #242 closed

[2016-05-03 21:13] Acubed commented on #242
Let's contact GitHub support, maybe they can help fix this. Multiple projects shouldn't be able to claim a single domain name >:(

[2016-05-04 08:10] Relequestual commented on #242
oh =[ grrr. Hopefully they can shed some light on what happened!

[2016-05-04 08:54] Relequestual commented on #242
I'm contacting github support

[2016-05-04 14:39] #241 closed

[2016-05-04 14:50] jdh6660 opened #243 "Is it possible to validate just the base objects?"
Imagine we have Json with objects within objects, but the base objects are really our "Objects," the ones we define, the ones we want to validate.

Lets say we have a Json that looks like:

`"School": {
   "ClassRoom": {
      "Student1": {
           "Name": "Joe",
          "Age": 11
      },
     "Teacher": {
          "Name": "Mrs Adams",
         "Age": 29
    },
   "SandBox": {
        "Stud

[2016-05-04 15:40] JanTvrdik commented on #243
For exampe

[code]

[2016-05-04 18:46] jdh6660 commented on #243
What does `{"$ref": "#"}` do for us?

[2016-05-11 16:29] seagreen commented on #195
Interesting. The issues of "well formedness" you address [here](http://cswr.github.io/JsonSchema/spec/grammar/#well-formedness) are something I've struggled with (for instance see this PR: https://github.com/json-schema-org/JSON-Schema-Test-Suite/pull/107). It would be great to get some more guidance about this in the next spec.

[2016-05-11 19:17] seagreen opened #244 "Additional keyword for validating the content a link points to"
An example of how this would be userful: a user has a JSON document containing a link. They'd like to write a schema that makes that document invalid if the content that links points to doesn't itself conform to some other schema.

For example, in this situation:

`schema.json`:
[code]

`data.json`: `{ "foo": "./more-data.json" }`

`more-data.json`: `[true, true]`

... validating `data.json` using

[2016-05-11 19:18] seagreen commented on #244
My apologies if this has already been covered by JSON Hyper-Schema. I'm not a hyper schema expert, but I read through the spec and it seemed to be talking about using JSON Schema to make APIs, not about links within documents.

[2016-05-11 19:19] seagreen commented on #244
Also since validation won't be deterministic perhaps this would be better suited as an optional validator? Though there is precedent since schemas using "$ref" aren't deterministic either.

[2016-05-11 23:39] jdesrosiers commented on #244
I don't think you need a new keyword to achieve this.  You can do it with some creative use of `$ref`.  As you may or may not know, `$ref` is defined independently of JSON Schema as [JSON Reference](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03).  Therefore `$ref` is not just for schemas.  If you use `$ref` to represent your links, you can write your schema as if the data has already be

[2016-05-12 01:13] seagreen commented on #244
Gah :volcano: now I'm wondering if there's a single JSON Schema library that actually conforms to the spec!

(Assuming you're right that "$ref"s should be resolved before validation, but I have no reason to think otherwise)

I don't think this is anyone's fault, but that's the situation. If someone will make a list of all these edge cases I will do my best to get as many as possible into the JSON

[2016-05-12 01:14] seagreen commented on #244
In the meantime though, are we dead certain that "$ref"s should be resolved before validation? Is this undefined behaviour that's up to the validation library, or is it required?

[2016-05-12 03:00] jdesrosiers commented on #244
I'm not sure what you mean.  I'm not suggesting that the way existing implementations work is wrong.  JSON Schema only expects `$ref`s to be resolved for schemas.  Resolving `$ref`s in the data being validated would either be a bonus feature or something a user does before passing the data to the validator.

[2016-05-12 03:12] seagreen commented on #244
:+1: I see what you mean. I'm glad existing implementations are fine.

Unfortunately, while your "$ref" suggestion is definitely a good one to know about, I did realize it doesn't completely handle all the situations that could come up. For instance, what if you want to exclude the option of the data being included directly, and only allow it to pass validation if a link of some kind is used?

Lik

[2016-05-12 04:39] jdesrosiers commented on #244
Ok, you're right.  But, I'm failing to imagine a case where it would be necessary or useful.

[2016-05-12 11:25] seagreen commented on #244
Well, we're both right:) You're still right that there _is_ a way to do validation across document lines, it just doesn't help in this case.

It's would be useful in cases where you have a set of JSON documents that link to each other, and you want to enforce that links in some situations can only go to some types of documents. For instance, Person documents can only link to another Person for a "

[2016-05-12 20:30] alekbarszczewski opened #245 "Relative json pointer does not allow to "get" object keys? (draft5)"
I am new to json schema draft 5 and just read about relative json pointer proposal.
However it seems that there is one case that is not covered by it.
Let's say I have following data structure:

[code]

It would be nice to restrict `articles[].category` value to keys in `categories` object.
I thought it could be done via `$data` and relative json pointer but it seems that it is not possible to ref

[2016-05-17 16:35] coding2012 commented on #215
DV4 is a "defacto standard". Adoption rates of Json schema validation has skyrocketed in the last 8 months. Please write the standard to support id and $id.

http://npm-stat.com/charts.html?package=tv4&author=&from=2015-05-17&to=2016-05-16
http://npm-stat.com/charts.html?package=ajv&author=&from=2015-05-14&to=2016-05-13
http://npm-stat.com/charts.html?package=jsonschema&author=&from=2015-05-13&to=

[2016-05-17 17:49] Julian commented on #215
Backwards compatibility is different from API churn :)

There are lots of changes when moving from Draft 3 to Draft 4 that were very well meaning but caused lots of API churn. This one too seems well-motivated, but I'd also caution against it personally. I'd like to be very very careful about which things we change from Draft4 that aren't "broken" specifically.

[2016-05-17 18:18] robbie-mac commented on #215
Is tv4 a 'defacto standard' or is chai a popular assertion library?

I would propose that the downloads of tv4 are because of chai's popularity. Not its own merit.

Codifying a standard because of 1 implementation is a little irresponsable if you ask me.

Rob

On Tue, May 17, 2016 at 10:50 AM -0700, "Julian Berman" <notifications@github.com> wrote:

Backwards compatibility is different from API ch

[2016-05-17 18:38] YurySk commented on #215
There is definitely more than one V4 implementation. For java there's json-schema-validator and I also about finished with a closed source version of a V4 validator.

[2016-05-17 19:11] robbie-mac commented on #215
And do they also implement both $id and id?

Heres the reason I am against putting both in the spec.

Keyword exhaustion. If we put both in the spec, there wont be a standard version used. Some will use one flavor, while others, well, the other. It will result in confusion while reading some implementations.

Not to mention the spec will have failed at its ultimate purpose which is to codify a sta

[2016-05-17 19:29] YurySk commented on #215
Mine does not implement $id...I was going by V4 specs so why would it?

[2016-05-17 19:44] robbie-mac commented on #215
If it followed the draft spec it wouldnt.

And wheb the next draft changes things, it would follow the next draft.

Im not arguing against keeping it the same or even changing it at this point. The points I am trying to make are these:

1) stating the spec should move in a particular direction based on a limited and most likely skewed sampling pool off of NPM is wrong. Write the spec for technical

[2016-05-17 20:03] YurySk commented on #215
It seems to me that the issue of one char difference in one keyword name should not warrant any kind of turmoil unless someone wants to use it to argue a point or approach.
If the next draft is not backwards compatible than it can go either way, either purist one or practical one that considers the added migration effort incurred by one char. Depends on the how much difference there is overall.

[2016-05-17 20:29] robbie-mac commented on #215
Thats quite a divisive, and counter productive comment.

In one comment you've managed to state that the two things are mutually exclusive, "Either purist or practical"

and signalled that people who have a differing opinion are simply bieng argumentative for the sake of turmoil. "one char difference in one keyword name should not warrant any kind of turmoil unless someone wants to use it to argue

[2016-05-17 20:52] YurySk commented on #215
You are arguing a point or approach aren't you? :)

I did not mean that people who argue about one character do it just for the sake of turmoil. Nothing wrong with using a particular case to crystallize an approach. As long as we are honest about it. So perhaps you are reading too much into my words.

Nothing particularly wrong with consistency and purism (it's not a bad word actually) as long as

[2016-05-17 23:47] Acubed commented on #215
I should comment that development for the next release is happening over at <https://github.com/json-schema-org/json-schema-spec>.

It's my intention that the next release will be only for bugfixes, updates, and necessary fixes of known problems; any new functionality will be withheld for the next release (which would follow up very soon).

[2016-05-20 23:34] robbie-mac commented on #215
@YurySk
Firstly, I have to apologize, again. I have learned a few things, don't respond to github emails by hitting reply, go to the site ( It makes for really crappy looking posts and are hard to follow with the email header crap ) and don't respond while at the airport waiting for a plane. Short temper, and distractions makes for poor judgement in reading posts, and composing replies..
So that s

[2016-05-21 00:19] YurySk commented on #215
@robbie-mac that's ok, I understand.
I am not sure what else to say. Formally you are right and 'typos' should get fixed. But if many people need to do many changes to many schemas just for this one character....Which may not even be the case given that there might be other incompatibilities. That's why I personally can't form a clear opinion without seeing the overall picture of what migration wo

[2016-05-23 08:39] TaylanUB commented on #205
@robbie-mac Is there any actual disadvantage in adding such functionality to JSON Schema? Does it, for instance, change the algorithmic complexity in some fundamental way that rules out certain efficient implementations, or some such thing? I doubt it, since I think the functionality of `switch` can already be imitated with some complex use of `allOf`/`anyOf`/`not`, and some repetition. Note that

[2016-05-26 19:52] BigBlueHat commented on #167
:+1: to plans to add `contains`.

We're using JSON Schema (via `ajv`) in our testing platform for [Web Annotation Data Model](http://www.w3.org/TR/annotation-model/) and having `contains` would greatly clarify situations like [validating that a specific `@context` value is used](https://github.com/Spec-Ops/web-platform-tests/blob/master/annotation-model/common/contextValue.json#L15-L26).

[2016-05-26 19:53] epoberezkin commented on #167
@BigBlueHat ajv supports contains btw

[2016-05-26 19:55] BigBlueHat commented on #167
@epoberezkin yep! I found that here (and "reacted" to your note about it). Mostly just want to encourage it into the spec--and this seemed to be the right/only place to do that. :smile: Thanks for `ajv`!

[2016-05-26 19:57] awwright commented on #167
@BigBlueHat @epoberezkin JSON-LD is defined in such a way that makes it difficult if not impossible to describe with JSON Schema, in a stateless fashion.

I'd be very interested in helping the TR, though.

Direct feature requests to the issue tracker at https://github.com/json-schema-org/json-schema-spec

[2016-05-27 13:23] Relequestual commented on #167
@awwright  ahem https://github.com/json-ld/json-ld.org/blob/master/schemas/jsonld-schema.json

[2016-05-30 02:56] vearutop commented on #198
Indeed, I just faced same problem with missing `format` in `properties` definition, making all schema invalid. It is a shame to have main public link broken for 7+ months already.

[2016-06-09 13:44] mbroadst commented on #205
@robbie-mac yeah I'd also like clarification on your position. There seems to be a sort of purist approach to the schema put forth by some of the community, but I struggle to see the downside of allowing these types of constructs that improve the "flow" of the schema definition.

I agree that this behavior can absolutely be implemented using v4, but you generally need to contort the logic to imple

[2016-06-09 20:59] TaylanUB commented on #205
Matt Broadstone <notifications@github.com> writes:

I assume you meant set to false.  Just to clear up confusion.

[2016-06-09 21:30] mbroadst commented on #205
@TaylanUB yes you're right, apologies for the confusion there

[2016-06-14 09:24] christianbalzer opened #246 "Allow anyOf/oneOf/allOf with one value instead of extends"
"extends" was removed in draft 4. Can you allow anyOf, oneOf, allOf with one value only to allow for the same functionality (inheritance)? That way, the JSON schemas would remain compliant with the latest draft of the spec...

http://json-schema.org/latest/json-schema-validation.html#anchor145

[2016-06-14 11:40] erosb commented on #246
Hello,

this is repository is obsolete, issues should be created here:
https://github.com/json-schema-org/json-schema-spec

2016-06-14 11:24 GMT+02:00 christianbalzer <notifications@github.com>:

--

*Bence Erősme@github <https://github.com/erosb>*

[2016-06-16 05:01] seagreen commented on #244
I may try to put together a working implementation of this. If I do and it works I might bring this up again, in the meantime I'll close this issue unless anyone else is interested.

[2016-06-24 08:28] PankajKataria opened #247 "Is is possible to specify OR between the properties specified in dependencies"
ie. like if i want to validate a particular property(p1) to be only present only if one or both of properties (p2,p3) is present in my json object

[2016-06-24 08:49] erosb commented on #247
Something like this:

[code]

[2016-06-24 14:59] PankajKataria commented on #247
thanks @erosb  :)

[2016-06-24 15:00] #247 closed

[2016-06-25 04:56] #244 closed

[2016-06-25 20:02] themihai commented on #211
I'm currently using a custom[0] implementation of JSON Schema similar with @saibotsivad 's proposal. Separate fields for the enum description/meta data seem very odd and not orthogonal with the rest of the schema specification. You don't want the "description" and "title" fields in a separate object  for other properties so why would you want that for enum properties? I would propose to make enum

[2016-06-27 11:32] claudio-viola commented on #222
I kind of  totally agree with all that @the-t-in-rtf  said in this conversation
Is this something that  will be considered to be done any time soon Or is there still discussions ongoing?

[2016-07-17 19:33] spaceribs opened #248 "Max value not being faked?"
Faking the following schema:
[code]
Generates `0` no matter what, shouldn't it be 50/50?

[2016-07-21 11:18] nisha14mani commented on #183
If type is string, then it works good.. For integer or number, i changed my code according to it.. But its not working.

[2016-08-19 23:20] sharwell commented on #220
We are considering the use of JSON Schema to improve the editor experience for one of our formats. The tool which consumes this format does not allow any properties which it does not recognize (strict validation), and `$schema` is not a recognized property. We use `"additionalProperties": false` in the JSON Schema to indicate that you are not allowed to use other properties, so with the current be

[2016-08-20 08:37] HotelDon commented on #245
I'm not sure why relative json pointers don't allow you to reference object keys, it's a problem I ran into as well. The only solution I've been able to find is to collect all the object keys into an array programatically, and then having the $data reference point to that array. It's not exactly a very clean solution.

[2016-08-24 08:12] lzrski commented on #211
Hello. Very interesting thread.

We are using JSON-schema to generate complex UIs. So far we have been using custom `labels` field next to `enum`, but while reading this thread I've realised that `oneOf` together with [`constant`](https://github.com/json-schema/json-schema/wiki/constant-(v5-proposal)) may work better:

[code]

It's basically the same as @themihai's solution, but within the spec. S

[2016-08-24 22:58] darshakthakore commented on #226
Yes as @IvanGoncharov mentioned, i was referring to the "description" property itself. And can you also provide some pointer/explain how i can use YAML to represent JSON-Schema. I know all JSON is also all YAML but the converse is not true. JSON is machine-friendly but i was hoping JSON-Schemas are both machine and human friendly. I understand @YurySk's point about overstandardizing things but we

[2016-08-24 23:23] YurySk commented on #226
Is there a practical way to lobby for inclusion comments to JSON? That's really the missing feature here.

[2016-08-25 03:27] darshakthakore commented on #226
@YurySk i believe there have been multiple religious discussions about that. There's probably a better chance of winning the lottery than getting comments in JSON :-p
That's why i was hoping/requesting to use (abuse?) description atleast for JSON Schemas. But if there's some other easy alternative, i'm all ears.

[2016-08-25 03:51] YurySk commented on #226
The above 'enumNames' approach would work in V4 as is since this is a non-schema keyword and therefore legal.

[2016-09-06 05:07] handrews commented on #239
see also https://tools.ietf.org/html/draft-luff-relative-json-pointer-00 for a JSON Pointer extension that would handle this.  It's an expired draft, but so is JSON Schema :-)

[2016-09-06 13:53] erosb commented on #239
@handrews this repository is deprecated. Current work is going on here: https://github.com/json-schema-org/json-schema-spec/

[2016-09-06 14:47] handrews commented on #239
@erosb yes, I'm aware, and commenting more on issues at that repo.  I just thought the person who opened this issue might want to know that yes, there has been work on relative JSON pointer.

[2016-09-14 14:46] awwright commented on #248
I'm confused, what is this in reference to?

This repository is only an old version of the specification, it doesn't generate any values.

[2016-09-14 19:25] awwright commented on #188
A "regular expression literal" is something invented by ECMA 262 for its syntax. JSON Schema is certainly referring to the ECMA 262 regular expression body production.

That is, the value expected is the same that you would pass to RegExp e.g. `new RegExp(pattern)`

[2016-09-18 06:09] handrews commented on #211
This discussion should be moved to the new (active) JSON Schema specification repository:
https://github.com/json-schema-org/json-schema-spec/issues/57

While I tried to capture the basics in the new issue, I am sure I left some significant points from this long discussion out.  Feel free to copy them over.

[2016-09-19 05:18] handrews commented on #205
This discussion has been moved to the new repository, on a new issue filed covering both `switch` and an alternative: https://github.com/json-schema-org/json-schema-spec/issues/64

[2016-09-19 18:33] handrews commented on #120
This discussion has been moved to https://github.com/json-schema-org/json-schema-spec/issues/15

[2016-09-19 18:44] handrews commented on #240
This discussion has been migrated to https://github.com/json-schema-org/json-schema-spec/issues/65

[2016-09-19 18:47] handrews commented on #201
"describedBy" and "profile" are discussed in depth at https://github.com/json-schema-org/json-schema-spec/issues/9 which has been closed due to an update of the specification language.

[2016-09-19 19:04] handrews commented on #222
This and all other discussion of the custom errors proposal have been migrated to https://github.com/json-schema-org/json-schema-spec/issues/62
This issue should be closed (it is still linked from the new issue in the new repo).

[2016-09-19 20:59] handrews commented on #201
@dinizime if the discussion in json-schema-org/json-schema-spec#9 sufficiently addresses your concerns, could you please close this?  (almost no one currently active with the project has permissions to close issues they don't own in this repo).

[2016-09-19 21:00] handrews commented on #240
@redben if the discussion in json-schema-org/json-schema-spec#65 covers this topic, could you please close this issue so we have one clear place for tracking?

[2016-09-20 17:32] handrews commented on #207
@niquola :  Further discussion on this general idea is being tracked in issue #64 .  Could you please close this issue in favor of that one?

[2016-09-20 20:25] #207 closed

[2016-09-30 07:50] hernandos commented on #232
-1 `require` should only be written if any  attribute is required. By default all items are optional, there is no a reason to write a empty array. The definition of the V4 is correct.

[2016-09-30 07:52] erosb commented on #232
This repository is deprecated. Current spec work is going on at
github.com/json-schema-org/json-schema-spec

2016-09-30 9:50 GMT+02:00 Hernando Saenz <notifications@github.com>:

--

*Bence Erősme@github <https://github.com/erosb>*

[2016-10-04 11:21] the-t-in-rtf commented on #222
Thanks to everyone who is picking up the governance work for the standard, it's much appreciated.  Happy to close this one out, see you in the new thread.

[2016-10-04 11:21] #222 closed

[2016-10-07 18:10] handrews commented on #232
@gibson042 since you've moved the conversation, could you please close this issue?  There's no one left here with the necessary privileges to close issues opened by other people.

[2016-10-07 18:14] handrews commented on #248
@spaceribs if this is about the behavior of how a particular implementation handles that schema, could you please close this and file it against the implementation instead?

If it is a general question, could you please close this and open an issue at https://github.com/json-schema-org/json-schema-spec/issues with more details about how you think the standard should phrase the requirement?  As far

[2016-10-07 18:15] spaceribs commented on #248
Sorry, I had both tabs open at the time, apologies!

[2016-10-07 18:15] #248 closed

[2016-10-08 16:33] #232 closed

[2016-10-12 17:38] handrews commented on #215
@sam-at-github :  since this discussion has moved to json-schema-org/json-schema-spec#20 , could you please close this?  There is no longer anyone with the project who has access to close other people's issues on this repo.

[2016-10-12 17:39] handrews commented on #246
@christianbalzer as @erosb notes this repository is obsolete.  Could you please close this issue?  There is no longer anyone involved with the project who has permissions to close other people's issue on this repo (which is why the repo is obsolete - no one who is still here can do anything with it).

[2016-10-12 17:45] handrews commented on #243
@jdh6660 :  `{"$ref": "#"}` refers to the entire schema.  So what this says is "every property should either validate as a person, or recursively apply this schema to each property's value."  This is what allows the person schema to "find" person instances everywhere.

If your instance is a tree of people, this is the schema you want.  If your instance may have other things in the object tree, it

[2016-10-12 17:58] handrews commented on #239
@mwherman2000 as this repo is deprecated, could you please close this?  There is no one remaining with the project who can close issues on this repo.

If you'd like to keep discussing this, please file it at [json-schema-org/json-schema-spec](https://github.com/json-schema-org/json-schema-spec)

[2016-10-12 18:01] handrews commented on #229
@zanona :  This repo has been abandoned by the admins so no one can do anything like close issues here.  Could you please close this issue yourself?

If you'd like to see more clarification, please file an issue at [json-schema-org/json-schema-org.github.io](https://github.com/json-schema-org/json-schema-org.github.io) which is the new web site repo (the spec is the json-schema-spec repo within th

[2016-10-13 01:29] #239 closed

[2016-10-13 01:29] #237 closed

[2016-10-13 01:29] #235 closed

[2016-10-13 14:47] awwright commented on #167
It was a long and hard journey frought with polar bears, airplanes, sand castles, broken N64 controllers, and a busted speaker, but...

We did it!

https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.org/html/draft-wright-json-schema-hyperschema-00

CC @Relequestual @epoberezkin @handrews et al.

I'll just wa

[2016-10-13 15:29] darshakthakore commented on #167
Is the new draft going to be discussed in the working group meetings?
I didn't see it being listed in the jsonbis wg.

[2016-10-13 16:22] awwright commented on #167
It has yet to be adopted by a WG. Idk if it's in-scope for _jsonbis_, but maybe someone else like _art_

[2016-10-13 18:42] awwright commented on #167
The documents now formally supercede the old series, looks like Kris Zyp or the IETF Secretariat got around to approving it!

[2016-10-13 18:42] #167 closed

[2016-10-17 01:18] handrews commented on #246
@christianbalzer : BTW it is totally legal to use "allOf" with one value. The meta-schema explicitly gives it (and "anyOf" and "oneOf") a minimum length of one.

So this repo is obsolete and the thing you want should work- if it does not work in a particular validator it is a bug in that validator.  It would be really helpful if you could close out this issue.

[2016-10-17 01:41] handrews commented on #238
@micovery This repo is obsolete and no one still with the project is able to close issues here.  Could you please close this?

If you would like to continue the discussion, you are welcome to re-file it at [json-schema-org/json-schema-spec](https://github.com/json-schema-org/json-schema-spec/issues)?

As a side note, there are many legal but odd-to-nonsensical combinations possible in JSON Schema

[2016-10-17 01:45] handrews commented on #227
@Lcfvs I've migrated this issue to the new repo.  Could you please close this one?  No one remaining with the projects has the ability to close issues filed by other people.

[2016-10-17 01:49] handrews commented on #226
@darshakthakore : I recommend YAML for writing schemas, and then read them in and write them back out in JSON as a build step.  You won't have any compatibility problems unless you use the really advanced features that serialize into and out of objects (like OO programming objects, not JSON objects which are obviously fine).

In any event, this repo has been abandoned and no one can close other pe

[2016-10-17 01:54] handrews commented on #225
@MosleyWilliams Since there hasn't been any activity here for months could you please close this issue?  This repo is deprecated and there is no one with the project who has the permissions to close all of the old open issues.

Please feel free to file new issues (or re-open this) at the new json-schema-spec repo.

[2016-10-17 01:56] handrews commented on #224
@rsuter could you please close this?  This repo is deprecated and non one still with the project has the permissions needed to close out old issues.  Thanks!

[2016-10-17 01:57] handrews commented on #223
@epoberezkin could you close this to reduce the noise over here in deprecated-repo-land?  I know you already know where you can re-file it :-D

[2016-10-17 02:13] handrews commented on #220
@MarkCatherall this repository is now deprecated and no one with permissions to do things like close issues is still with the project.  Could you please close this?  If you would like to continue the discussion, please re-open at json-schema-org/json-schema-spec

[2016-10-17 02:23] handrews commented on #219
@stevage this repo is deprecated, and this topic is now being discussed at:
json-schema-org/json-schema-spec#31
json-schema-org/json-schema-spec#64 (includes `switch`, formerly #25 here, plus alternatives)

Could you please close this issue (no one left with the project has the permissions needed to close it) and do any follow-up in the two issues in the new repo?  Thanks,

[2016-10-17 02:28] handrews commented on #204
@Anshul-Batra this is really an implementation question rather than a specification, although you may be interested in the JSON Schema UI proposal at json-schema-org/json-schema-spec#67

Could you please close this issue (there's no one left with the project who is able to close it otherwise) and join the discussion in the new repo if it is of interest?

[2016-10-17 02:33] darshakthakore commented on #226
@handrews sure i'll close this one.
If its ok, i would like to open the discussion at the new location since there are use cases where information needs to be carried in and with the schema itself.

[2016-10-17 02:33] #226 closed

[2016-10-17 02:50] handrews commented on #210
@ASnow this repository is deprecated, and there's no one left who can do things like close issues here.

Could you close this and, if still interested, open it at [json-schema-org/json-schema-spec](https://github.com/json-schema-org/json-schema-spec/issues) instead?

[2016-10-17 02:50] handrews commented on #206
@epoberezkin could you please close this and re-open at the new repository if needed?

[2016-10-17 02:51] handrews commented on #205
@epoberezkin could you close this now that we have json-schema-org/json-schema-spec#64 (which includes the switch proposal although it might not be obvious at first).

If there are parts of this you would like to keep separate, please file a new separate issue in the new repo.

[2016-10-17 02:53] handrews commented on #203
@shachibista Could you please close this?  There's no one left with permissions at this old repository to close other people's issues.  Please join us at json-schema-org/json-schema-spec for further discussion if you'd like!

[2016-10-17 02:54] handrews commented on #200
@dinizime could you please close this and, if you'd like to discuss it further, re-open at [json-schema-org/json-schema-spec](https://github.com/json-schema-org/json-schema-spec/issues)?

No one still active with the projects has permissions to close these issues otherwise.

[2016-10-17 03:24] handrews commented on #198
@stefk this has been fixed in the new repo at json-schem-org/json-schema-spec and will soon be propagated to the web site.

Could you please close this issue?  No one still remaining with the project has permissions to close things here.

[2016-10-17 03:55] handrews commented on #197
@JulienPalard could you please close this?  I've moved it to the new repo, but no one has permissions to close issues on this deprecated repo.

[2016-10-17 03:57] handrews commented on #195
@CSWR I believe this falls under json-schema-org/json-schema-spec#5 at the new repository.

Could you please close this?  This repo is deprecated and there is no one left with the project who can close issues here.

[2016-10-17 04:00] handrews commented on #120
@fge would you be willing to close this since there is a new issue tracking it?  There's no one left who can close issues for us here.

[2016-10-17 04:32] micovery commented on #238
Closing as per request.

[2016-10-17 04:32] #238 closed

[2016-10-17 05:25] handrews commented on #84
@gazpachoking this has been committed to the new repo.  Could you please close this?  We don't have anyone else involved in the project with the necessary permissions on this repo to close issues.

[2016-10-17 05:40] #224 closed

[2016-10-17 07:07] #197 closed

[2016-10-17 07:38] stefk commented on #198
I'm closing but I see your fix is already +1 month old and the schemas aren't up-to-date yet (which is the main issue). Not sure I understand the policy.

[2016-10-17 07:38] #198 closed

[2016-10-17 10:54] #220 closed

[2016-10-17 12:03] #204 closed

[2016-10-17 23:41] handrews commented on #198
@stefk you are correct, I've opened an issue to track the follow-through on the new site repo.  (I don't know that there is an actual policy, I'm just trying to clean up this old repo- thanks for closing this issue).

[2016-10-18 05:42] #210 closed

[2016-10-18 05:45] ASnow commented on #210
Moved to https://github.com/json-schema-org/json-schema-spec/issues/102

[2016-10-18 22:00] handrews commented on #211
@nemesisdesign Could you please close this since we have an active discussion in the new repository?
There is no one left with the project who has permissions to close other people's issues anymore so we can't close it ourselves.

[2016-10-18 22:10] handrews commented on #172
@jessepinho discussion here seems to have slowed to a halt.  Could you please close this?  There is no one remaining with the project who is able to do so- only the original person who opened the issue.  You can open a new issue at json-schema-org/json-schema-spec if you want to discuss this further.

I'll also throw in another example.  The only way to specify an odd integer is:

[code]

If "mult

[2016-10-18 22:28] handrews commented on #175
@Zearin You can now find the site and specification at:
https://github.com/json-schema-org/json-schema-org.github.io
https://github.com/json-schema-org/json-schema-spec

Could you please close this issue?  There is no one left with the project who is able to close issues in this deprecated repo.

[2016-10-21 20:00] handrews commented on #231
Activity on the web site project has moved to https://github.com/json-schema-org/json-schema-org.github.io for issues and pull requests.

[2016-10-21 20:03] handrews commented on #245
@alekbarszczewski :  Activity for this project has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this?  If you want to discuss this further, please re-file it there.

[2016-10-21 20:05] handrews commented on #193
Work on this project has moved to https://github.com/json-schema-org/json-schema-spec
If you are still interested in this proposal, please re-file it there.

[2016-10-21 20:06] handrews commented on #189
Work on this project has moved to https://github.com/json-schema-org/json-schema-spec
If you are still interested in this proposal, please re-file it there.

[2016-10-22 00:28] handrews commented on #187
@heruan this project has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?  If you would like to continue discussion the proposal, you are more than welcome to re-file it in the new repository.  We are actively working on the next draft.

[2016-10-22 00:39] handrews commented on #183
@johnmanko work has moved to https://github.com/json-schema-org/json-schema-spec , please close this and, if you still want to have it considered for the next draft, re-file it at the new repo.

[2016-10-22 00:41] handrews commented on #180
@brettz9 , @oleics
JSON Schema spec work has moved to https://github.com/json-schema-org/json-schema-spec.
Could you please close this issue?  You are welcome to re-open it at the new repository for further consideration/discussion.

[2016-10-22 00:41] handrews commented on #179
@DimDragon
JSON Schema spec work has moved to https://github.com/json-schema-org/json-schema-spec.
Could you please close this issue?  You are welcome to re-open it at the new repository for further consideration/discussion.

[2016-10-22 00:46] brettz9 commented on #180
@handrews : Thanks, raised at https://github.com/json-schema-org/json-schema-spec/issues/105

[2016-10-22 00:46] #180 closed

[2016-10-22 00:46] handrews commented on #160
@Mahesha999 json-schema-org/json-schema-spec#51 might be relevant for you.

JSON Schema spec work has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?  You are welcome to re-open it at the new repository for further consideration/discussion.

[2016-10-22 00:46] handrews commented on #158
@marqu3z
JSON Schema spec work has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?  You are welcome to re-open it at the new repository for further consideration/discussion.

[2016-10-22 00:47] handrews commented on #156
JSON Schema web site work has moved to https://github.com/json-schema-org/json-schema-org.github.io
Could you please close this issue?  You can just submit a pull request at the new repo if you'd like.

[2016-10-22 00:48] handrews commented on #155
@alexweissman You want json-schema-org/json-schema-spec#51
JSON Schema spec work has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?

[2016-10-22 00:49] handrews commented on #154
@jdesrosiers looks like this has been taken care of in the- could you please close this issue?

[2016-10-22 23:41] handrews commented on #151
@orbisvicis :

I have incorporated ideas from this issue into a larger thread on various additionalProperties and additionalProperties-caused issues which you may find here: https://groups.google.com/forum/#!topic/json-schema/dDkozAUTxRk

Work on this project has moved to https://github.com/json-schema-org/json-schema-spec  , so could you please close this?

Issues will eventually be filed in the

[2016-10-22 23:47] handrews commented on #143
@L2L2L
If I understand E4X correctly, this is outside of the scope of the JSON Schema project.  In any event, work on JSON Schema is now at https://github.com/json-schema-org/json-schema-spec so please close this issue.  If you really think this is in-scope for JSON Schema, please re-open it at the new repository.

[2016-10-22 23:51] handrews commented on #135
@brettz9 Work has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this?  It looks as if it did not get traction, but if you think it is worth discussing again do feel free to re-file it at the new repo.

[2016-10-22 23:53] handrews commented on #132
@PaulFreund @madskristensen
This repo is deprecated now.  If you would like to take a look and see if a new pull request is needed, the web site and examples live at https://github.com/json-schema-org/json-schema-org.github.io
Could you please close this issue?

[2016-10-22 23:55] handrews commented on #131
@madskristensen The web site repo has moved to https://github.com/json-schema-org/json-schema-org.github.io if you feel inspired to pick this work up again :-)
Could you please close this issue?  We no longer have the necessary permissions on this repo to do so.

[2016-10-23 00:00] handrews commented on #130
@laconbass @bjaanes @akuckartz @hugovincent
New IETF drafts have been submitted by @awwright
New spec work is going on here: https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?  We no longer have permissions to this repo.

https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.

[2016-10-23 00:01] #131 closed

[2016-10-23 00:03] handrews commented on #126
@romand @madskristensen
This project is active again and the examples live at https://github.com/json-schema-org/json-schema-org.github.io if you want to take a look and submit PRs.
@romand could you please close this issue?  We no longer have permissions on this repo, but you're welcome to re-open at the new repo.

[2016-10-23 00:14] handrews commented on #119
@nemesisdesign , @fuhrysteve
Active work is going on with the spec at https://github.com/json-schema-org/json-schema-spec where @awwright just published a new Internet Draft:
https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.org/html/draft-wright-json-schema-hyperschema-00

This discussion would likely fall

[2016-10-23 00:28] handrews commented on #116
@dawidcha
This repository has been deprecated, could you please close this issue (none of us have permissions for it anymore).

There has been further discussion of this general topic here: https://groups.google.com/forum/#!forum/json-schema

You can join the current work at https://github.com/json-schema-org/json-schema-spec if you'd like to continue discussing this.

[2016-10-23 00:31] handrews commented on #107
@GREENpoint
Work on this project has moved to https://github.com/json-schema-org/json-schema-spec
Could you please close this issue?  We no longer have permissions to do so on this repo.
Feel free to re-open this at the new repo.

[2016-10-23 00:32] handrews commented on #106
Pull requests welcome at https://github.com/json-schema-org/json-schema-org.github.io
This repo is deprecated, and it would be much appreciated if you could close this issue as no one remaining has permissions to do so.

[2016-10-23 00:37] handrews commented on #104
@geemus work is now going on at https://github.com/json-schema-org/json-schema-spec
If you'd like to continue to advocate for this, please re-open it at the new schema.
It would be most appreciated if you could close this issue; we no longer have permissions on this repo.

[2016-10-23 00:42] handrews commented on #103
@geemus
All of these proposed relations have been removed from the latest standard by @awwright
You can catch up with what's going on at https://github.com/json-schema-org/json-schema-spec
including various issues discussing things related to this.
Could you please close this issue?  We no longer have permissions on this repo.

[2016-10-23 00:42] handrews commented on #100
@vanthome if you could close this since it's fixed in the new repo that would be great.  We no longer have permissions to close issues in this repo.

[2016-10-23 00:44] handrews commented on #98
@ottok this repo is now deprecated, and it would be much appreciated if you could close out this issue.  We no longer have permissions to do so.
If you'd like to take a look at this in the new repo, it is at
https://github.com/json-schema-org/json-schema-org.github.io

[2016-10-23 00:47] handrews commented on #97
@Julian this was all rewritten in the latest internet-draft.  Could you please close this out?

Further concerns may be filed at https://github.com/json-schema-org/json-schema-spec

https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.org/html/draft-wright-json-schema-hyperschema-00

[2016-10-23 00:49] Julian commented on #97
Done.

[2016-10-23 00:49] #97 closed

[2016-10-23 00:54] handrews commented on #96
Active work on the website and examples is now at https://github.com/json-schema-org/json-schema-org.github.io

[2016-10-23 01:00] handrews commented on #92
@vanthome
This bug has been fixed in the latest draft:
https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.org/html/draft-wright-json-schema-hyperschema-00
spec work is now at https://github.com/json-schema-org/json-schema-spec
Could you please close this?

[2016-10-23 01:01] handrews commented on #89
@vanthome I've fixed this in the latest draft.  Could you please close this?

[2016-10-23 01:04] handrews commented on #87
@kennardconsulting @Anifacted @ewildgoose @Fannon @martinpengellyphillips
As the others in this issue know, work has moved to https://github.com/json-schema-org/json-schema-spec

If anyone wants to champion any of these proposals, please re-file them (perhaps one issue per proposal?) at the new repo.

[2016-10-23 01:07] handrews commented on #81
@awwright I think you fixed this :-)  Would you be willing to close this issue out?  Thanks.

[2016-10-23 01:07] handrews commented on #80
@awwright I think you fixed this :-)  Would you be willing to close this issue out?  Thanks.

[2016-10-23 01:08] handrews commented on #82
@awwright I think you fixed this :-)  Would you be willing to close this issue out?  Thanks.

[2016-10-23 01:15] handrews commented on #79
@nickl-
This project is active again, with a new internet-draft published, so if you'd like to pick this back up please check out the new repos (including the test suite repo) at
https://github.com/json-schema-org

[2016-10-23 01:18] handrews commented on #77
@gazpachoking a number of things about id and $ref have been tidied up in the latest internet draft.  Spec work for that is going on at https://github.com/json-schema-org/json-schema-spec
Could you please closes this, and if you still have concerns with the new wording, open issues for those at the new repo?

https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft

[2016-10-23 01:19] handrews commented on #74
If anyone would like to pick this up in the form of a PR or re-filed issues, please do so at the new repo:
https://github.com/json-schema-org/json-schema-org.github.io

This repository is deprecated

[2016-10-23 01:20] handrews commented on #72
If anyone comes along and would like to pick this up, the appropriate new repo is at:
https://github.com/json-schema-org/json-schema-org.github.io

This repo is deprecated.

[2016-10-23 01:52] handrews commented on #59
@P-Product this repo is now deprecated.  I've filed the min/maxPatternProperties issue at
json-schema-org/json-schema-spec#106 if you'd like to continue the discussion.

This issue should be closed.

[2016-10-23 01:52] handrews commented on #47
@P-Product this repo is now deprecated and I've re-filed this topic at json-schema-org/json-schema-spec#106

If you could close this issue, that would be much appreciated.

[2016-10-23 07:05] PaulFreund commented on #132
Closed because of deprecation ;)

[2016-10-23 07:05] #132 closed

[2016-10-23 08:32] ottok commented on #98
I am not using json-schema actively, so I'll just close this issue as unresolved and will not check or re-file it in the new repo.

[2016-10-23 08:32] #98 closed

[2016-10-23 08:55] vanthome commented on #100
sure

[2016-10-23 08:55] #100 closed

[2016-10-23 08:55] vanthome commented on #92
sure

[2016-10-23 08:55] #92 closed

[2016-10-23 08:55] vanthome commented on #89
sure

[2016-10-23 08:55] #89 closed

[2016-10-23 11:56] #107 closed

[2016-10-23 13:46] laconbass commented on #130
Closing this issue as requested by @handrews, future readers: please follow to https://github.com/json-schema-org/

[2016-10-23 13:46] #130 closed

[2016-10-23 16:56] #154 closed

[2016-10-24 00:51] #135 closed

[2016-10-24 06:12] awwright commented on #81
@handrews You're killing me with all these issues you're resurrecting

[2016-10-24 06:12] #81 closed

[2016-10-24 07:22] heruan commented on #187
Thank you @handrews I'll move the issue there!

[2016-10-24 07:22] #187 closed

[2016-10-24 09:24] #158 closed

[2016-10-24 18:30] #179 closed

[2016-10-25 14:06] jessepinho commented on #172
@handrews Thanks for that example—good point. I'll close this out (especially since I'm not working much with JSON schema at the moment), but will tag @challeng in the meantime in case he wants to comment on this.

[2016-10-25 14:06] #172 closed

[2016-10-26 08:07] gregsdennis commented on #156
Will do.  Thanks for the info.

[2016-10-26 08:07] #156 closed

[2016-10-28 20:35] epoberezkin commented on #223
Filed as https://github.com/json-schema-org/json-schema-spec/issues/115

[2016-10-28 20:35] #223 closed

[2016-10-28 21:12] #205 closed

[2016-10-28 21:13] epoberezkin commented on #206
added as https://github.com/json-schema-org/json-schema-spec/issues/117

[2016-10-28 21:13] #206 closed

[2016-10-31 14:39] #104 closed

[2016-10-31 14:44] #103 closed

[2016-11-16 14:14] #225 closed

[2016-11-17 23:30] #183 closed

[2016-11-17 23:30] johnmanko commented on #183
I moved this to https://github.com/json-schema-org/json-schema-spec/issues/148

[2016-11-20 08:19] #243 closed

[2016-11-20 08:19] jdh6660 commented on #243
I figured it out something that worked eventually. Thanks.

[2016-11-21 09:58] radio-miskovice opened #250 "Domain name "json-schema.org" disappeared"
Today (21 November 2016) I discovered that I cannot open website "json-schema.org" due to missing DNS records. I remember on Friday 18th it was still there, I am not sure about the weekend, though.

Is this a deliberate, planned transition, or just someone forgot to pay for the domain registration?

The problem is that some validation tools (e.g. jayschema) that can chain schemas during validation

[2016-11-21 16:57] Relequestual commented on #250
@radio-miskovice Please close in favour of https://github.com/json-schema-org/json-schema-org.github.io/issues/48 - Thanks.

[2016-11-21 17:00] radio-miskovice commented on #250
Thanks. Done.

[2016-11-21 17:00] #250 closed

[2016-11-30 23:29] #84 closed

[2016-11-30 23:30] #77 closed

[2016-12-19 15:32] Relequestual commented on #215
If anyone is still interested in this issue, would be great if you could pop over and give a thumbs up for https://github.com/json-schema-org/json-schema-spec/pull/154 (which looks to fix issue #20 as mentioned in the previous comment here).

@coding2012 made a good point, that it should be backwards compatible initially, which @handrews has made sure of with his PR.

[2016-12-19 15:33] Relequestual commented on #215
@sam-at-github It would be great to get your approval on the new PR also! Would be nice to close of issues on this defunct org's repo.

[2016-12-29 20:39] #47 closed

[2016-12-29 20:39] #59 closed

[2016-12-29 20:39] #72 closed

[2016-12-29 20:39] #74 closed

[2016-12-29 20:39] #79 closed

[2016-12-29 20:39] #80 closed

[2016-12-29 20:39] #82 closed

[2016-12-29 20:39] #87 closed

[2016-12-29 20:39] #96 closed

[2016-12-29 20:39] #106 closed

[2016-12-29 20:39] #116 closed

[2016-12-29 20:39] #119 closed

[2016-12-29 20:39] #120 closed

[2016-12-29 20:39] #126 closed

[2016-12-29 20:39] #143 closed

[2016-12-29 20:39] #151 closed

[2016-12-29 20:39] #155 closed

[2016-12-29 20:39] #160 closed

[2016-12-29 20:39] #175 closed

[2016-12-29 20:39] #188 closed

[2016-12-29 20:39] #189 closed

[2016-12-29 20:39] #193 closed

[2016-12-29 20:39] #195 closed

[2016-12-29 20:39] #200 closed

[2016-12-29 20:39] #201 closed

[2016-12-29 20:39] #203 closed

[2016-12-29 20:39] #211 closed

[2016-12-29 20:39] #215 closed

[2016-12-29 20:39] #219 closed

[2016-12-29 20:39] #227 closed

[2016-12-29 20:39] #229 closed

[2016-12-29 20:40] #231 closed

[2016-12-29 20:40] #240 closed

[2016-12-29 20:40] #245 closed

[2016-12-29 20:40] #246 closed

[2017-03-28 09:53] nemesifier commented on #211
@handrews sorry, I was so slow to respond. I'll try to participate in the discussion again.

[2017-08-04 07:09] iamveritas opened #251 "how would I build a json schema that is not allowing empty elements {} at all, ever?"
how would I build a json schema that is not allowing empty elements {} at all, ever?
obviously I have no experience with json schemas... and searching for this on docs online didn't helped me.
thank you

[2017-08-04 07:41] sgpinkus commented on #251
Should ask at SO or something not here, but, think you want something like:

  "type": "object",
  "minProperties":  1
}

[2017-08-04 15:06] iamveritas commented on #251
thanks
what is SO

[2017-08-04 20:13] epoberezkin commented on #251
StackOverflow: https://stackoverflow.com/questions/ask?tags=jsonschema

[2017-09-02 02:45] handrews commented on #251
@Julian if you get a chance could you close this?

[2017-09-02 08:06] #251 closed, assigned to nobody

[2017-09-11 16:38] spandananitdgp opened #252 ""If A then B" definition in json schema"
I have a use case where I want the object type of a property to be validated based on the value of another property's value.
schema as two values "itemType" and "item"
If "itemType" is "A", then "item" should be of "$ref" : "#/definitions/itemA".
If "itemType" is "B", then "item" should be of "$ref" : "#/definitions/itemB".

How do I define this in my json schema?

[2017-09-11 22:19] #252 closed, assigned to nobody

[2017-09-30 09:25] cactusjiang opened #253 "Question about using additionalProperties as an object"
After reading additionalProperties related documents, I am not sure whether the following use of additionalProperties is correct.

The following schema example comes from the file:
https://github.com/DMTF/Redfish-Interop-Validator/blob/master/profiles/RedfishInteroperabilityProfile.v1_0_0.json

The example is at L106. Both $ref and a property are defined in additionalProperties.

[code]

Should we

[2017-11-20 22:56] andrewsuzuki commented on #155
Anyone looking to do this (esp. comparing passwords for equivalence), see my answer on Stack Overflow: https://stackoverflow.com/a/41192068/811451

[2017-12-27 23:14] chharvey commented on #253
@cactusjiang — this repository has been archived and is no longer in use (see the front page readme). Please close this issue and re-submit here:
https://github.com/json-schema-org/json-schema-spec/issues

[2018-01-09 06:48] cactusjiang commented on #253
@chharvey Thanks for the information. Close this issue.

[2018-01-09 06:48] #253 closed, assigned to nobody

[2018-03-16 08:00] stefan574 commented on #158
The first "properties" can be omitted, as you are overriding it with "properties" from "oneOf" :)

[2018-06-26 06:13] sreedhar85 opened #254 "validate required elements in array based on array item value"
I have scenario:
This is json request.
"address": [
{
"addressTyp": "Home",
"addressLine1": "",
"city": "",
"state": "",
"zip": "",
"country": ""
},
{ "addressTyp": "Mailing",
"addressLine1": "",
"city": "",
"state": "",
"zip": "",
"country": ""
}
]
json schema validation:
"required": [
"addressType",
"addressLine1",
"city",
"state",
"zip",
"country"
]
Scenario:
**if addressType="Home"** then Need

[2018-09-13 14:59] rfranceschi-sticky opened #255 "Wrong issue, sorry ;)"
Sorry, ISSUE written to the wrong repo

[2018-09-13 14:59] #255 closed, assigned to nobody

[2018-12-16 07:37] 50kudos commented on #172
To keep it in the same context here. `type` should be required except for a few keywords that already indicate|specify type, which are `enum`, `const`, `allOf`, `anyOf`, `oneOf`, `not`, and non-terminal nodes if any.

Therefore, odd integer schema can also be:
[code]

PS; I've read the paper [Foundation of JSON Schema](https://martinugarte.com/media/pdfs/p263.pdf) which @fsuarezb in the thread, is

[2019-01-01 22:42] rsmckinney commented on #224
This looks wrong.  Applying simple logic, if a property is not `"required"` and has no `"default"` value defined, its initial value is null (or undefined) if not explicitly assigned.  Thus these two documents have the same effect:

[code]
[code]
But the second one is illegal, which doesn't make much sense.

In my view `"required"` should have broader meaning to imply _not null_ and dispense with t

[2019-01-09 10:40] techtonik opened #256 "schema evolution workflow"
I am new to JSON schema. I am just learning how it works, and the thing I do not understand is how to evolve my schema over time. If some fields are added, some are removed, and a new version of spec is produced - what is the way to detect that the new version of spec is available?

[2019-01-29 19:39] ikshvakoo opened #257 "Error de-serializing Json Schema because the Type parameter of property type is sometimes an array and sometimes string."
I'm running into an issue where I'm generating a JSON schema for a model in which I have properties collection for all the fields of my model. For the properties that are marked as not required (nullable), the "type" parameter for those is an array with two values for that property: the respective datatype of the field (string, integer, object etc.) and a "null":

                  "cif": {

[2019-03-19 05:12] nickl- commented on #257
The project has a new home:
https://github.com/json-schema-org/json-schema-org.github.io

Perhaps we should close this one.